index html css section start*/
*{
    padding: 0 !important;
    margin: 0 !important;
}
*a{
    text-decoration: none;
}

body{
    background-color: #212932;
}
.bg-img{
    width: 100%;
    min-height: 100%;
        position: absolute;
}
.bg-img img{
    width: 100%;
    min-height: 100%;
    z-index: 99999;
    transform: translateY(0px);
    animation: bgImg 4s ease-out;
}
@keyframes bgImg{
    0%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0%);

    }
}
.sign-page{
    width: 90% !important;
    position: absolute;
    left: 5% !important;
    top: 25px !important;

}
.sign-overlap{
    position: absolute;
}
.logo-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-img img{
    width: 70% !important;
    min-height: 100%;
}
.form-page{
    height: 340px;
    background-color: #00000080;
    border-radius: 20px;
    padding: 20px 10px 0px 10px;

}
.username,.password{
    padding: 10px 20px;
    border: 2px solid #ffb200;
    border-radius: 20px;
    margin-bottom: 10px;
}

.username input,.password input{
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    width: 80%;
    height: 35px;
    background-color: transparent;
    color: white;
    border: none;
}
.username input:focus,.password input:focus{
    outline: none;
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    color: white;

}
.password{
    display: flex;
}
.eye{
    margin-left: 30px;
}

.eye  img{
    width: 100%;
    height: 35px;
    /* margin-left: 10px; */
}


.remember{
    display: flex;
}
.rem-1{
    width: 170px;
    position: absolute;
}
.rem-2{
    position: absolute;
    right: 20px;
    
}
.rem-2 p{
    color: #59606c;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 700;

}
.rem-2 a:hover{
    text-decoration: none;
}
.not-remember{
    width: 25%;
    height: 25px;
    background: url('../img/icons8-toggle-off-96.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.rem-1 p{
    color: #59606c;
    position: absolute;
    left: 45px;
    bottom: -15px;
}
.on-remember{
    width: 25%;
    height: 25px;
    background: url('../img/icons8-toggle-on-96.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;

}

.form-page .submit{
    margin-top: 40px;
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    background-color: #feff00;
    text-transform: uppercase;
    
    margin-bottom: 20px;
}
.submit a{
    font-family: "Myriad Pro", sans-serif;
    color: #59606c;
    font-weight: 600;
    font-size: 20px;

}
.submit a:hover{
    text-decoration: none;
    


}
.sign-terms{
    text-align: center;
}
.sign-terms p{
    font-family: "Myriad Pro";
    font-weight: 400;
    font-size: 14px;
    color: #59606c;
    margin: 0px;


}
.sign-terms a,.sign-terms span{
    font-family: "Myriad Pro";
    font-weight: 900;
    font-size: 16px;
    color: #59606c;
    display: inline-block;

}
.sign-terms a:hover,.sign-terms a:focus{
text-decoration: none !important;
}

/*index html css section end*/






/*Header Footer Css Start*/
.header{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 12;
    background-color: #19202c;

}
.header img{
    width: 40px;
    height: 40px;
}

.header-part{
    display: flex;
    padding: 5px 10px;
}
.blog-1{
    flex: 1;
}
.blog-2{
    flex: 2;
    text-align: center;
}
.blog-3{
    flex: 1;
    text-align: end;
}
input[type="checkbox"]{
    display: none;
}
#show:checked ~ .popup{
    display: block;
}
#show2:checked ~ .popup{
    display: block;
}

.popup {
    position: absolute;
    width: 80% !important;
    height: 200px;
    background: #495057;
    text-align: center;
    left: 40px !important;
    top: 250px;
    display: none;

}
.popup2 {
  width: 80%;
  left: 10% !important;
}
.popup h1{
    font-size: 20px;
    color: yellow;
    padding: 10px 0px;
}
.popup .warning{

background-color: #495057;
}
.popup .option{

margin-top: 60px;
}
.option .yes,.option .no{

    padding: 10px 50px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    font-family: "Myriad pro", sans-serif;

}
.option .yes{

}
.option .no{
    
}

.header-part h2{
    color: #feff00;
    font-size: 30px;
    font-family: "Myriad Pro", sans-serif;
    margin: 5px;
}
.header-part p{
    font-family: "Myriad Pro", sans-serif;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    color: #feff00;
    border: 2px solid #feff00;
    border-radius: 50%;

}
.header-part .notification-count{
    position: absolute;
    left: 35px;
    top: 25px;

}
.header-part .add-count{
    position: absolute;
    left: 85px;
    top: 10px;
}





.footer{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 12;
    background-color: #000000;
    bottom: 0px;
    padding: 5px;

}
.footer img{
    width: 40px;
    height: 40px;
    cursor: pointer;

}

.footer .icon{
    text-align: center;
}
.footer button{
    background-color: transparent;
    border: none;
}
.footer button:hover{
    color: none;
    outline: none;
    border: none;

}


/*header2 template css*/
.header2{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 12;

    background-color: #feff00;
    text-align: center;
}
.header2 h1{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin: 20px 0px;

}
/*Header Footer Css End*/


/*product-page html css section start*/

.product-content{
    width: 100%;
    min-height: 100%;
    padding-top: 70px;

}
.product-content .logo{
    width: 100%;
    height: 50px;
    text-align: center;

}
.product-content .logo img{
    width: 120px;
    height: 100px;
}
.product-col{
    background-color: #feff00;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    margin-top: 55px;
    padding: 10px;
}
.product-col h1{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 15px;
}
.product-display{
    display: flex;
}
.product-display img{
    width: 85px    height: 100px;
}
.product-display .icon{

    margin: auto 10px !important;
}


/*product-page html css section end*/



/*About page css start */
.about-content{
    width: 100%;
    min-height: 100%;
    padding-top: 70px;

}
.about-content .logo{
    width: 100%;
    height: 50px;
    text-align: center;

}
.about-content .logo img{
    width: 120px;
    height: 100px;
}
.about{
    background-color: #feff00;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    margin-top: 55px;
    padding: 10px;
}
.about h1{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 15px;
}
.about p{
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
/*About page css end*/


/*privacy page css start */
.privacy-content{
    width: 100%;
    min-height: 100%;
    padding-top: 70px;

}
.privacy-content .logo{
    width: 100%;
    height: 50px;
    text-align: center;

}
.privacy-content .logo img{
    width: 120px;
    height: 100px;
}
.privacy{
    background-color: #feff00;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    margin-top: 55px;
    padding: 10px;
}
.privacy h1{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 15px;
}
.privacy p{
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
/*privacy page css end*/


/*terms page css start */
.terms-content{
    width: 100%;
    min-height: 100%;
    padding-top: 70px;

}
.terms-content .logo{
    width: 100%;
    height: 50px;
    text-align: center;

}
.terms-content .logo img{
    width: 120px;
    height: 100px;
}
.terms{
    background-color: #feff00;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    margin-top: 55px;
    padding: 10px;
}
.terms h1{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 15px;
}
.terms p{
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
/*terms page css end*/





/*Rank-gallery page css start*/


.rank form{
    padding-top: 60px;

}
.table-bordered td, .table-bordered th {
    border: 1px solid #feff00;
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #feff00;
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 500;
}


/*Rank-gallery page css end*/



/*transection page css start*/


.transection-icon{
    padding-top: 80px;
    margin-bottom: 150px;

}
.transection-icon .col{
    padding: 0px;
}

.transection-icon img{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 10px 22px;
    border: 2px solid #feff00;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px rgb(135 139 144);
}
.transection-icon h4{
    font-family: "Comic Sans MS";
    font-size: 14px;
    font-weight: 400;
    color: #feff00;
    text-align: center;


}


/*transection page css end*/


/*my-team page css start*/

.team form{
    padding-top: 60px;

}


/*my-team page css end*/






/*register page css start*/
.profile-pic{
    padding-top: 65px;
    text-align: center;
}

.profile-pic .pic{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px rgb(135 139 144);
}
.choose{
    position: absolute;
    width: 60px;
    right: 105px !important;
    top: 120px;
}
.choose .select-pic{
    width: 30px;

} 
.choose p{
    font-family: "Comic Sans MS";
    font-size: 8px;
    font-weight: 400;
    color: #feff00;

}
.profile-form{
    margin-top: 10px;
}
.p-form{
    padding-bottom: 80px;
}
.p-form input{
    width: 100%;
    padding: 5px 15px;
    background-color: transparent;
    border: 2px solid #feff00;
    margin: 3px auto;
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 400;
    color: #feff00;


}

.p-form input::placeholder{
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 400;
    color: #feff00;
}
.p-form input:focus{
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 400;
    color: #feff00;
}
.p-form .submit{
    text-align: center;
    width: 100%;
    background: none;
    border: none;
    margin-top: 15px;

}
.p-form a{
    background-color: #feff00;
    padding: 10px 120px;
    border-radius: 20px;
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.p-form .select{
    width: 100%;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid #feff00;
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 20px;

}




/*register page css end*/





/*Update profile page css start*/

.update-pic{
    padding-top: 65px;
    text-align: center;
}

.update-pic .pic{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px rgb(135 139 144);
}
.update-pic .choose{
    position: absolute;
    width: 60px;
    right: 105px !important;
    top: 120px;
}
.update-pic .choose .select-pic{
    width: 30px;

} 
.update-pic .choose p{
    font-family: "Comic Sans MS";
    font-size: 8px;
    font-weight: 400;
    color: #feff00;

}
.update-form{
    margin-top: 10px;
}
.u-form{

}
.u-form input{
    width: 100%;
    padding: 5px 15px;
    background-color: transparent;
    border: 2px solid #feff00;
    margin: 3px auto;
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 400;
    color: #feff00;
    

}
.u-form input:focus{
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 400;
    color: #feff00;
}
.u-form input:type{
    color: #feff00;

}
.u-form input::placeholder{
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 400;
    color: #feff00;
}
.u-form .bdate{
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 400;
    color: #feff00;
}
.u-form .update{
    text-align: center;
    width: 48%;
    background: none;
    border: none;
    margin-top: 15px;

}
.u-form .more{
    text-align: center;
    width: 48%;
    background: none;
    border: none;
    margin-top: 15px;

}
.u-form a{
    background-color: #feff00;
    padding: 10px 50px;
    border-radius: 20px;
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.u-form a:hover{
    text-decoration: none;
}




/*Update profile page css end*/





/*Withdraw report page css start*/

.withdraw{
    padding-top: 60px;

}
.withdraw .agent{
    border-bottom: 1px solid yellow;
    border-right: 1px solid yellow;
    padding: 10px 20px 5px 20px;
    
}
.withdraw .status{
    border-bottom: 1px solid yellow;
    padding: 10px 20px 5px 20px;

}
.withdraw .agent label,.withdraw .status label{
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 400;
    color: #feff00;
    
}

/*Withdraw report page css end*/



/*own fund transfer page css start*/
.fund-transfer{
    padding: 90px 20px 0px 20px;


}
.fund-transfer h2{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 700;
    color: #feff00;
    text-align: center;

}
.fund-transfer .fund{

}
.fund p{
    color: #00d2ff;
    display: inline;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 700;

}
.fund span{
    color: #00d2ff;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 700;

}
.fund .amount{
    margin-top: 10px;
    background-color: #feff00;
    border-radius: 5px;
}

.fund .f-password{
    margin-top: 10px;
    background-color: #feff00;
    border-radius: 5px;
    display: flex;
}
.fund .amount input, .fund .f-password input{
    width: 100%;
    padding: 5px 15px;
    background-color: transparent;
    border: none;
    margin: 3px auto;
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #5e5e5e;
    font-weight: 700;

}

.amount input:focus,.f-password input:focus{
    outline: none;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 700;
    color: #5e5e5e;


}
.amount input::placeholder,.f-password input::placeholder{
    outline: none;
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #5e5e5e;
    font-weight: 700;


}
.fund .calculator{
    border: none;
    background-color: #feff00;
    padding: 5px 40px;
    margin: 15px 85px !important;
    border-radius: 5px;
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #5e5e5e;
    font-weight: 800;
    cursor: pointer;

}
.fund .calculator:hover,.fund .calculator:focus{
    border: none;
    outline: none;
}
.eye-password{
    margin-right: 20px;
}

.eye-password  img{
    width: 100%;
    height: 46px;
}

/*own fund transfer page css end*/


/*Renew User page css Start*/

.renew-user{
    padding-top: 80px;
    text-align: center;

}
.renew-user .select{
    width: 85%;
    padding: 10px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #feff00;
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 20px;
    background-image: url('../img/icons8-expand-arrow-96.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: 98%;
    cursor: pointer;
    -webkit-appearance: none;
}

.select:focus,.select:hover{
    outline: none;

}
.select option{
    background-color: #212932;
    font-family: "Comic Sans MS";
    font-size: 15px;
    width: 40%;
}
.renew{
    position: absolute;
    bottom: 70px;
    left: 150px;
}

.renew .renew-btn{
    border: none;
    background-color: #feff00;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #000000;
    font-weight: 800;
}

/*Renew User page css end*/



/*Report Page css start*/
.report{
    padding-top: 20px;
    text-align: center;

}
.report-headline{
    padding: 80px 10px 10px 10px;

}
.report-headline h2{
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 700;
    color: #feff00;
}
.report .select{
    width: 85%;
    padding: 10px;
    background-color: #feff00;
    color: ;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 700;
    color: #5e5e5e;
    background-image: url('../img/icons8-expand-arrow-96.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: 98%;
    cursor: pointer;
    -webkit-appearance: none;
}

.report .select:focus,.report .select:hover{
    outline: none;


}

.report .select option{
    background-color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 700;
    width: 40%;
}
/*Report Page css end*/




/*transfer Wallet page css start*/
.transfer{
    padding: 0px 30px;
    text-align: center;

}
.transfer-headline{
    padding: 80px 10px 0px 55px;

}
.transfer-headline h2{
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 700;
    color: #feff00;
}
.transfer .select{
    width: 85%;
    padding: 5px;
    background-color: #feff00;
    border-radius: 5px;
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
    background-image: url('../img/icons8-expand-arrow-96.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 98%;
    cursor: pointer;
    -webkit-appearance: none;
}

.transfer .select:focus,.transfer .select:hover{
    outline: none;


}

.transfer .select option{
    background-color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 700;
    width: 40%;
}
.t-fund{
    padding: 5px 30px;
}
.t-fund p{
    color: #00d2ff;
    display: inline;
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 500;

}
.t-fund span{
    color: #00d2ff;
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 500;

}
.t-fund .t-send{
    background-color: #feff00;
    border-radius: 5px;

}
.t-fund .t-amount{
    background-color: #feff00;
    border-radius: 5px;
    margin-top: 10px;

}

.t-fund .t-password{
    margin-top: 10px;
    background-color: #feff00;
    border-radius: 5px;
    display: flex;
}
.t-fund .t-comments{
    background-color: #feff00;
    border-radius: 5px;
    margin-top: 10px;

}
.t-fund .t-amount input, .t-fund .t-password input,.t-fund  .t-send input{
    width: 100%;
    padding: 5px 15px;
    background-color: transparent;
    border: none;
    margin: 3px auto;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 800;
    color: #5e5e5e;
    outline: none;

}

.t-amount input:focus,.t-password input:focus,.t-send input:focus,.t-comments textarea: focus{
    outline: none;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 800;
    color: #5e5e5e;

}
.t-amount input::placeholder,.t-password input::placeholder,.t-send input::placehoder, .t-comments textarea::placehoder{
    outline: none;
    font-family: "Comic Sans MS";
    font-size: 15px;
    color: #5e5e5e;
    font-weight: 800;
    outline: none;


}
.t-comments textarea{
    width: 100%;
    height: 15vh;
    padding: 5px 15px;
    background-color: transparent;
    border: none;
    margin: 3px auto;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 800;
    color: #5e5e5e;
    outline: none;

}
.t-fund .calculator{
    border: none;
    background-color: #feff00;
    padding: 5px 40px;
    margin: 10px 88px;
    border-radius: 5px;
    font-family: "Comic Sans MS";
    font-size: 18px;
    color: #000000;
    font-weight: 800;
    cursor: pointer;
}
.t-fund .calculator:hover,.t-fund .calculator:focus{
    border: none;
    outline: none;
}
.eye-password{
    margin-right: 20px;
}

.eye-password  img{
    width: 100%;
    height: 46px;
}

/*transfer Wallet page css end*/


/*accepted-withdraw page css start*/
.accepted{
    position: absolute;
    bottom: 20%;
    left: 30%;
}
.accepted .accepted-btn{
    background-color: #ff0000;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    font-family: "Comic Sans MS";
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
}



/*accepted-withdraw page css end*/




/*agent-withdraw page css start*/
.agent-withdraw{
    position: absolute;
    bottom: 20%;
    left: 30%;
}
.agent-withdraw .agent-btn{
    background-color: #ff0000;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    font-family: "Comic Sans MS";
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
}



/*agent-withdraw page css end*/




/*transfer Wallet page css start*/
.income-fund{
    padding: 0px 30px;
    text-align: center;

}
.income-headline{
    padding: 80px 10px 20px 20px;
}
.income-headline h2{
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 500;
    color: #feff00;
}
.income-fund .select{
    width: 100%;
    padding: 5px 10px;
    background-color: #feff00;
    border-radius: 5px;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 800;
    color: #5e5e5e;
    background-image: url('../img/icons8-expand-arrow-96.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 98%;
    cursor: pointer;
    -webkit-appearance: none;
}

.income-fund .select:focus,.income-fund .select:hover{
    outline: none;


}

.income-fund .select option{
    background-color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 700;
    width: 40%;
}
.income-fund .send{
    background-color: #feff00;
    border-radius: 5px;
    margin-top: 10px;

}
.income-fund .income-amount{
    background-color: #feff00;
    border-radius: 5px;
    margin: 10px 0px;

}

.income-fund .income-password{
    margin-top: 10px;
    background-color: #feff00;
    border-radius: 5px;
    display: flex;
}
.income-fund .income-amount input, .income-fund .income-password input,.income-fund  .send input{
    width: 100%;
    padding: 5px 15px;
    background-color: transparent;
    border: none;
    margin: 3px auto;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 800;
    color: #5e5e5e;
    outline: none;

}

.income-fund .income-amount input:focus,.income-fund .income-password input:focus,.income-fund .send input:focus{
    outline: none;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 800;
    color: #5e5e5e;

}
.income-fund .income-amount input::placeholder,.income-fund .income-password input::placeholder,.income-fund .send input::placehoder{
    outline: none;
    font-family: "Comic Sans MS";
    font-size: 15px;
    color: #5e5e5e;
    font-weight: 800;
    outline: none;


}
.income-fund .calculator{
    border: none;
    background-color: #feff00;
    padding: 5px 40px;
    margin: 10px 155px 0px 0px;
    border-radius: 15px;
    font-family: "Comic Sans MS";
    font-size: 18px;
    color: #000000;
    font-weight: 800;
    cursor: pointer;
}
.income-fund .calculator:hover,.income-fund .calculator:focus{
    border: none;
    outline: none;
}
.income-password .eye-password{
    margin-right: 5px;
}

.income-password .eye-password  img{
    width: 100%;
    height: 46px;
}

/*transfer Wallet page css end*/



/*payment Page css start*/
.payment{
    padding-top: 20px;
    text-align: center;

}
.payment-headline{
    padding: 80px 10px 10px 10px;

}
.payment-headline h2{
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-weight: 700;
    color: #feff00;
}
.payment .select{
    width: 85%;
    padding: 10px;
    background-color: #feff00;
    color: ;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 700;
    color: #5e5e5e;
    background-image: url('../img/icons8-expand-arrow-96.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: 98%;
    cursor: pointer;
    -webkit-appearance: none;
}

.payment .select:focus,.payment .select:hover{
    outline: none;


}

.payment .select option{
    background-color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 700;
    width: 40%;
}
/*payment Page css end*/


/*Profile page css start*/
.profile{
    padding-top: 80px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #feff00;
    text-align: center;
}
.profile .img{
    width: 81px;
    height: 81px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;
}


.choose-profile{
    position: absolute;
    width: 60px;
    right: 100px !important;
    top: 130px;
}
.choose-profile .select-pic{
    width: 35px;

}
.profile-desc{
    padding: 10px 20px;
}
.profile-desc p{
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 14px;
    font-weight: 400;
    margin: 10px 10px;
}


/*Profile page css end*/




/*sales report page css start*/

.sales-report{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 12;
    background-color: #feff00;
    padding: 5px;
}

.sales-report h1{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
    color: #000000;

}
.sales-report .search{
    display: flex;
    margin: 5px 20px 0px 0px;
    border: 2px solid #8b8f16;
    border-radius: 50px;
}
.search img{
    margin-left: -10px;
    width: 40px;
    height: 40px;
}
.search h2{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 800;
    color: #000000;
    padding: 5px 0px 0px 0px;
}
.saler-details{
    padding-top: 65px;
}
.saler-details .saler-img{
    padding: 20px;
    text-align: center;
}
.saler-details .saler-img img{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50px;
}
.saler-details .saler-img p{
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 14px;
    font-weight: 400;
}
.saler-details .line{
    border-bottom: 1px solid #feff00;
    margin-bottom: 5px;
}
.saler-details .sales-desc{

}
.saler-details .sales-desc p{
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0px;
}
.saler-details .sales-desc .p-span{

}

.saler-details .sales-desc .p-span p{
    display: inline-block;
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 14px;
    font-weight: 700;
}
.saler-details .sales-desc .p-span span{
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 14px;
    font-weight: 700;
}

/*sales report page css end*/



/*sales report page css start*/

.member-list .search{
    display: flex;
    width: 90%;
    margin: 10px auto;
    border: 2px solid #8b8f16;
    border-radius: 50px;
}
.member-list .search img{
    margin-left: -10px;
    width: 40px;
    height: 40px;
}
.member-list .search h2{
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 800;
    color: #000000;
    padding: 5px 0px 0px 0px;
}
.member-details{
    padding-top: 65px;
}
.member-details .member-img{
    padding: 10px;
    text-align: center;
}
.member-details .member-img img{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50px;
}
.member-details .line{
    border-bottom: 1px solid #feff00;
    margin-bottom: 5px;
}
.member-details .member-desc{
    padding: 10px 0px;

}

.member-details .member-desc .p-span p{
    display: inline-block;
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}
.member-details .member-desc .p-span span{
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 600;
}

/*sales report page css end*/



/*accont-status-balance page css start*/
.acc-balance{
    padding-top: 70px;
    padding-bottom: 10px;
}
.acc-balance button{
    color: #feff00;
    background-color: transparent;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 400;
    padding: 0px;
    border: none;
}

.acc-balance button:hover{
    text-decoration: underline;
    outline: none;
}
.shop{
    display: none;
}
.income-title,.expense-title,.expense2-title{
    background-color: #feff00;
    height: 35px;
    padding: 2px 10px;
}
.income h2,.expense-title h2,.expense2-title h2{
    color: #000000;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 700;
}
.income-table{

}
.column-name{
   padding: 0px !important;
}
.column-name p{
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid #feff00;
    margin: 0px;
    padding: 10px 0px 10px 10px;
}
.column-income{
    text-align: end;
   padding: 0px !important;


}
.column-income p{
    color: #feff00;
    font-family: "Comic Sans MS";
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid #feff00;
    border-left: 2px solid #feff00;
    margin: 0px;
    padding: 10px 10px 10px 0px;
}
.last-left{
    color: #000000 !important;
    background-color: #feff00;
    margin-bottom: 15px !important;
    margin-top: -2px !important;
    border-bottom: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
}
.last-right{
    color: #000000 !important;
    background-color: #feff00;
    margin-top: -2px !important;
    margin-bottom: 15px !important;
    border: 2px solid #000000 !important;
}

.expense .expense-title{
    background-color: #feff00;
    height: 35px;
    padding: 2px 10px;
}
.shop .expense{
    padding-top: 10px;
}



/*accont-status-balance page css end*/
