index html css section start*/
*{
	padding: 0;
	margin: 0;
}
*a{
	text-decoration: none;
}
body{
	background-color: #212932;
}
.bg-img{
	width: 100%;
	min-height: 100%;
		position: absolute;
}
.bg-img img{
	width: 100%;
	min-height: 100%;
	z-index: 99999;
	transform: translateY(0px);
	animation: bgImg 4s ease-out;
}
@keyframes bgImg{
	0%{
		transform: translateY(100%);
	}
	50%{
		transform: translateY(50%);
	}
	100%{
		transform: translateY(0%);

	}
}
.sign-page{
	position: fixed;
	margin: 35px 20px 10px 20px;
	position: absolute;
	align-items: center;
	align-content: center;

}
.sign-overlap{
	position: absolute;
}
.logo-img{
	width: 100%;
	display: flex;
	justify-content: center;
}
.logo-img img{
	width: 70%;
    min-height: 100%;
}
.form-page{
    height: 340px;
    background-color: #00000080;
    border-radius: 20px;
    padding: 20px 10px 0px 10px;

}
.username,.password{
	padding: 10px 20px;
    border: 2px solid #ffb200;
    border-radius: 20px;
    margin-bottom: 10px;
}

.username input,.password input{
	font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    width: 80%;
    height: 35px;
    background-color: transparent;
	color: white;
    border: none;
}
.username input:focus,.password input:focus{
	outline: none;
	font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
	color: white;

}
.password{
	display: flex;
}
.eye{
	margin-left: 30px;
}

.eye  img{
	width: 100%;
	height: 35px;
	/* margin-left: 10px; */
}


.remember{
	display: flex;
}
.rem-1{
	width: 170px;
	position: absolute;
}
.rem-2{
	position: absolute;
    right: 20px;
	
}
.rem-2 p{
	color: #59606c;
	font-family: "Myriad Pro", sans-serif;
	font-weight: 700;

}
.rem-2 a:hover{
	text-decoration: none;
}
.not-remember{
	width: 25%;
	height: 25px;
	background: url('../img/icons8-toggle-off-96.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.rem-1 p{
	color: #59606c;
    position: absolute;
    left: 45px;
    bottom: -15px;
}
.on-remember{
	width: 25%;
	height: 25px;
	background: url('../img/icons8-toggle-on-96.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;

}

.form-page .submit{
	margin-top: 40px;
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    background-color: #feff00;
    text-transform: uppercase;
    
    margin-bottom: 20px;
}
.submit a{
	font-family: "Myriad Pro", sans-serif;
    color: #59606c;
    font-weight: 600;
    font-size: 20px;

}
.submit a:hover{
	text-decoration: none;
	


}
.terms{
	text-align: center;
}
.terms p{
	font-family: "Myriad Pro";
    font-weight: 400;
    font-size: 14px;
    color: #59606c;
    margin: 0px;


}
.terms h4{
	font-family: "Myriad Pro";
    font-weight: 900;
    font-size: 16px;
    color: #59606c;

}

/*index html css section end*/





/*product-page html css section start*/

/*Header Footer Css Start*/
.header{
	width: 100%;
    height: 60px;
	position: fixed;
	z-index: 12;
	background-color: #19202c;

}
.header img{
	width: 40px;
	height: 40px;
}
.rowe{
	display: flex;
}
.cole{
	flex: 30%;
}
.nav{
	padding-left: none !important;
}
.header-part{
	display: flex;
	padding: 5px 10px;
}
.blog-1{
	flex: 1;
}
.blog-2{
	flex: 2;
	text-align: center;
}
.blog-3{
	flex: 1;
	text-align: end;
}
input[type="checkbox"]{
	display: none;
}
#show:checked ~ .popup{
	display: block;
}

.popup {
    position: absolute;
    width: 80%;
    height: 200px;
    background: #495057;
    text-align: center;
    left: 40px;
    top: 250px;
    display: none;

}
.popup h1{
    font-size: 20px;
    color: yellow;
    padding: 10px 0px;
}
.popup .warning{

background-color: #495057;
}
.popup .option{

margin-top: 60px;
}
.option .yes,.option .no{

    padding: 10px 50px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    font-family: "Myriad pro", sans-serif;

}
.option .yes{

}
.option .no{
	
}

.header-part h2{
	color: #feff00;
	font-size: 30px;
	font-family: "Myriad Pro", sans-serif;
	margin: 5px;
}
.header-part p{
    font-family: "Myriad Pro", sans-serif;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    color: #feff00;
    border: 2px solid #feff00;
    border-radius: 50%;

}
.header-part .notification-count{
	position: absolute;
    left: 35px;
    top: 25px;

}
.header-part .add-count{
	position: absolute;
    left: 85px;
    top: 10px;
}




.footer{
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 12;
	background-color: #000000;
	bottom: 0px;

}
.footer img{
	width: 40px;
	height: 40px;
}

.footer .icon{
	text-align: center;
}
.footer button{
	background-color: transparent;
	border: none;
}
.footer button:hover{
	color: none;
	outline: none;
	border: none;

}
/*Header Footer Css End*/

.product-content{
	width: 100%;
	min-height: 100%;
	padding-top: 70px;

}
.product-content .logo{
	width: 100%;
	height: 50px;
	text-align: center;

}
.product-content .logo img{
	width: 120px;
    height: 100px;
}
.product-col{
	background-color: #feff00;
	width: 100%;
	min-height: 100vh;
	text-align: center;
	margin-top: 55px;
	padding: 10px;
}
.product-col h1{
	font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 15px;
}
.product-display{
	display: flex;
}
.product-display img{
    width: 85px;
    height: 100px;
}
.product-display .icon{

    margin: auto 20px;
}

/*product-page html css section end*/



/*About page css start */
.about-content{
	width: 100%;
	min-height: 100%;
	padding-top: 70px;

}
.about-content .logo{
	width: 100%;
	height: 50px;
	text-align: center;

}
.about-content .logo img{
	width: 120px;
    height: 100px;
}
.about{
	background-color: #feff00;
	width: 100%;
	min-height: 100vh;
	text-align: center;
	margin-top: 55px;
	padding: 10px;
}
.about h1{
	font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 15px;
}
.about p{
	font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
/*About page css end*/


/*Rank-gallery page css start*/

.rank-gallery{
    width: 100%;
    height: 60px;
    position: fixed;
	z-index: 12;

    background-color: #feff00;
    text-align: center;
}
.rank-gallery h1{
	font-family: "Comic Sans MS";
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    margin: 10px 0px;

}
.rank form{
	padding-top: 60px;

}
.table-bordered td, .table-bordered th {
    border: 1px solid #feff00;
    color: #feff00;
  	font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #feff00;
    color: #feff00;
  	font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 500;
}


/*Rank-gallery page css end*/



/*transection page css start*/
.transection{
    width: 100%;
    height: 60px;
    position: fixed;
	z-index: 12;
    background-color: #00000;
    text-align: center;
}
.transection h1{
	font-family: "Comic Sans MS";
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    margin: 10px 0px;

}
.transection-icon{
	padding-top: 80px;
	margin-bottom: 150px;

}
.transection-icon .col{
	padding: 0px;
}

.transection-icon img{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 10px 22px;
    border: 2px solid #feff00;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px rgb(135 139 144);
}
.transection-icon h4{
	font-family: "Comic Sans MS";
    font-size: 14px;
    font-weight: 400;
    color: #feff00;
    text-align: center;


}


/*transection page css end*/


/*my-team page css start*/

.my-team{
    width: 100%;
    height: 60px;
    position: fixed;
	z-index: 12;
    background-color: #feff00;
    text-align: center;
}
.my-team h1{
	font-family: "Comic Sans MS";
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    margin: 10px 0px;

}
.team form{
	padding-top: 60px;

}


/*my-team page css end*/






/*create-member page css start*/

.create-member{
    width: 100%;
    height: 60px;
    position: fixed;
	z-index: 12;
    background-color: #feff00;
    text-align: center;
}
.create-member h1{
	font-family: "Comic Sans MS";
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    margin: 10px 0px;

}
.profile-pic{
	padding-top: 65px;
	text-align: center;
}

.profile-pic .pic{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px rgb(135 139 144);
}
.choose{
	position: absolute;
    width: 60px;
    right: 105px;
    top: 120px;
}
.choose .select-pic{
	width: 30px;

} 
.choose p{
	font-family: "Comic Sans MS";
	font-size: 8px;
    font-weight: 400;
    color: #feff00;

}
.profile-form{
	margin-top: 10px;
}
.p-form{

}
.p-form input{
	width: 100%;
    padding: 5px 15px;
    background-color: transparent;
    border: 2px solid #feff00;
    margin: 3px auto;

}
.p-form input::placeholder{
	font-family: "Comic Sans MS";
	font-size: 18px;
    font-weight: 400;
	color: #feff00;
}
.p-form .submit{
	text-align: center;
    width: 100%;
    background: none;
    border: none;
    margin-top: 15px;

}
.p-form a{
	background-color: #feff00;
    padding: 10px 120px;
    border-radius: 20px;
    font-family: "Comic Sans MS";
	font-size: 18px;
    font-weight: 700;
    color: black;
}




/*create-member page css end*/



/*deshboard page css start*/

.deshboard {
    padding-top: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #feff00;
}
.deshboard .user{
    margin: 0px;
    padding: 20px 0px;
}
.deshboard .desc{
padding: 40px 10px 0px 60px;
}
.deshboard .desc h2{
	font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0px;
}
.deshboard .desc p{
	font-family: "Myriad Pro", sans-serif;
    font-weight: 500;
}
.deshboard img{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;;
}
.deshboard-icon{
    margin-bottom: 150px;
}
.deshboard-icon .col{
	padding: 0px;
}

.deshboard-icon img{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 10px 22px;
    border: 2px solid #feff00;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px rgb(135 139 144);
}
.deshboard-icon h4{
	font-family: "Comic Sans MS";
    font-size: 14px;
    font-weight: 400;
    color: #feff00;
    text-align: center;


}



/*deshboard page css end*/
